<ngb-carousel *ngIf="headerPosts.length > 0">
    <ng-template *ngFor="let headerpost of headerPosts" ngbSlide>
        <img [src]="headerpost.image.url" alt="headerpost.title" (click)="openPost(headerpost._id)">
        <div class="carousel-caption" (click)="openPost(headerpost._id)">
            <h3>{{headerpost.title}}</h3>
            <p>{{headerpost.content.brief}}</p>
        </div>
    </ng-template>
</ngb-carousel>
<div class="blogPost" *ngFor="let post of posts">
    <h3 class="blogShort" [innerHtml]="post.title"></h3>
    <blockquote class="dateQuote">{{post.date.day}}.{{post.date.month}}</blockquote>
    <div class="blogShort" [innerHtml]="post.content.brief" [hidden]="showLongText"></div>
    <div class="readMore" (click)="showLongText = true" [hidden]="showLongText">...Mehr...</div>
    <div class="blogExtended" [innerHtml]="post.content.extended" [hidden]="!showLongText"></div>
    <div class="readMore" (click)="showLongText = false" [hidden]="!showLongText">...Weniger...</div>
</div>