<header>
  <img src="assets/images/titel-header_web.png" />
</header>
<app-adverts></app-adverts>

<header class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

  <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul id="nav-mobile" class="navbar-nav mr-auto menumenu">
      <li class="nav-item" [ngClass]="{'dropdown': item.childs}" [routerLinkActive]="['active']" *ngFor="let item of menuBar">
        <a class="nav-link" [ngClass]="{'dropdown-toggle': item.childs}" [routerLink]="[item.path]" (click)="openChild = !openChild"
          id="item.name">{{item.name}}</a>
        <div *ngIf="item.childs" class="dropdown-menu" [hidden]="!openChild">
          <a class="dropdown-item" [routerLink]="[child.path]" *ngFor="let child of item.childs">{{child.name}}</a>
        </div>
      </li>
    </ul>
  </div>
</header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-3 d-none d-sm-block">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>