<header>
  <img src="assets/images/titel-header_web.png" />
</header>
<app-adverts></app-adverts>

<nav class="navbar navbar-light navbar-fixed-top navbar-expand-lg">

  <div class="toggleMenuBar d-lg-none" (click)="navbarCollapsed = !navbarCollapsed" [attr.aria-expanded]="!navbarCollapsed"
    aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <div class="fa fa-navicon fa-2x"></div>
  </div>

  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
    <ul id="nav-mobile" class="navbar-nav mr-auto menumenu" [ngClass]="{'bigScreen': bigScreen, 'smallScreen': !bigScreen}">
      <li class="nav-item" [ngClass]="{'dropdown': item.childs, 'bigScreen': bigScreen, 'smallScreen': !bigScreen}"
        [routerLinkActive]="['active']" *ngFor="let item of menuBar" ngbDropdown>
        <a *ngIf="item.childs" class="nav-link" [ngClass]="dropdown-toggle" id="{{item.name}}" ngbDropdownToggle>{{item.name}}</a>
        <a *ngIf="!item.childs" class="nav-link" [routerLink]="[item.path]" id="{{item.name}}">{{item.name}}</a>
        <div *ngIf="item.childs" class="dropdown-menu" ngbDropdownMenu attr.aria-labelledby="{{item.name}}">
          <a class="dropdown-item" [routerLink]="[child.path]" *ngFor="let child of item.childs">{{child.name}}</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-3 d-none d-md-block">
      <app-right-sidebar></app-right-sidebar>
    </div>
  </div>
</div>