<header>
  <img src="assets/images/titel-header_web.png" />
</header>
<app-adverts></app-adverts>
<div class="container">
    <nav>
        <div class="nav-wrapper">          
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li *ngFor="let item of items"><a href="/{{item.routerLink}}">{{item.label}}</a></li>            
          </ul>
        </div>
      </nav>  
  <div class="row">
    <div class="col s10">
      <router-outlet></router-outlet>
    </div>
    <div class="col s2"><app-right-sidebar></app-right-sidebar></div>
  </div>
</div>