.adverts {
  float: left;
  width: 5%;
}

@media only screen and (min-width: 601px) {
  .adverts {
    float: left;
    width: 7.5%;
  }
}

@media only screen and (min-width: 993px) {
  .adverts {
    float: left;
    width: 15%;
  }
}

.adverts img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.advertsImages {
  width: 98%;
  margin: 1%;
  text-align: center;
}

.adverts h5 {
  text-align: center;
}
